<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Agreement | Kenya Template Library</title>
     <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>

<header class="header">
    <h1>Employee Agreement</h1>
    <a href="/index.html">← Back to Home</a>
</header>

<div class="container">
    <div class="card">
        <p><strong>Employee Agreement</strong><br>
        This Agreement is made on [Date] between:</p>

        <p>
            <strong>Employer: [Company Name], </strong> Address: [Address]<br>
            <strong>Employee: [Employee Name], </strong> Address: [Address]
        </p>

      
        <p><strong>1.Position</strong><br>
        Employee shall work as [Job Title] starting [Start Date].</p>

        <p><strong>2. Duties</strong><br>
        Employee shall perform duties as assigned and follow company policies.</p>

        <p><strong>3. Compensation</strong><br>
        Salary: [KES Amount] payable [Frequency].</p>

        <p><strong>4. Leave</strong><br>
        Employee entitled to [Leave Entitlement] per year.</p>

        <p><strong>5. Termination</strong><br>
        Either party may terminate with [Notice Period] notice.</p>

        <p><strong>6. Confidentiality</strong><br>
        Employee shall not disclose company information during or after employment.</p>

        <p><strong>Signatures</strong><br>
        Employerr: ___________________ Date: __________<br>
        Employee: ___________________________ Date: __________
        </p>

        <p class="note">
            This is a preview. Download the editable document for full legal wording.
        </p>
    </div>

     <p style="margin-top: 20px;">
        <a href="/downloads/employment-agreement.docx">Download Editable Version</a>
    </p>
</div>

</body>
</html>
