<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goods Received Note Template Kenya</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>

<body>

<a href="../index.html">Home</a>

<header class="header">
    <h1>Goods Received Note</h1>
    <p>Preview of a standard goods received note commonly used in Kenya.</p>
</header>

<div class="container">
    <div class="card">

        <p>
            <strong>Supplier:</strong> [Supplier Name]<br>
            <strong>Supplier Address:</strong> [Supplier Address]<br>
            <strong>GRN No:</strong> [GRN-001]<br>
            <strong>Date Received:</strong> [Insert Date]
        </p>

        <p>
            <strong>Received At:</strong> [Warehouse / Store / Office]<br>
            <strong>Purchase Order No:</strong> [PO Number]
        </p>

        <table width="100%" cellpadding="6" border="1">
            <tr>
                <th>Item Description</th>
                <th>Quantity Ordered</th>
                <th>Quantity Received</th>
                <th>Condition</th>
            </tr>
            <tr>
                <td>Item A</td>
                <td align="center">20</td>
                <td align="center">20</td>
                <td>Good</td>
            </tr>
            <tr>
                <td>Item B</td>
                <td align="center">10</td>
                <td align="center">9</td>
                <td>1 damaged</td>
            </tr>
        </table>

        <p style="margin-top:15px;">
            <strong>Remarks:</strong><br>
            _________________________________________________
        </p>

        <p>
            <strong>Received By:</strong> _____________________ &nbsp;&nbsp;
            <strong>Signature:</strong> _____________________ &nbsp;&nbsp;
            <strong>Date:</strong> __________
        </p>

        <p>
            <strong>Authorized By:</strong> _____________________ &nbsp;&nbsp;
            <strong>Signature:</strong> _____________________
        </p>

    </div>

    <p style="margin-top:20px;">
        <a href="/downloads/goods-received-note.docx" download>
            Download Editable Version
        </a>
    </p>
</div>

</body>
</html>
