
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase Requisition Form Template Kenya</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>

<body>

<a href="../index.html">Home</a>

<header class="header">
    <h1>Purchase Requisition Form</h1>
    <p>Preview of a standard purchase requisition form commonly used in Kenya.</p>
</header>

<div class="container">
    <div class="card">

        <p>
            <strong>Requester Name:</strong> _____________________ &nbsp;&nbsp;
            <strong>Department/Branch:</strong> _____________________ &nbsp;&nbsp;
            <strong>Date:</strong> __________<strong>Requisition No.: </strong> __________
        </p>

        <p>
            <strong>Required Items:</strong>/Service<br>
          
        </p>

        <table width="100%" cellpadding="6" border="1">
            <tr>
                <th>Item Description</th>
                <th>Description</th>
                <th>Quantity </th>
                <th>Justification</th>
                <th>Purpose</th>
                <th>Estimated Cost(KES)</th>
              
            </tr>
            <tr>
                <td></td>
                <td align="center">20</td>
                <td align="center">20</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td align="center">10</td>
                <td align="center">9</td>
                <td></td>
            </tr>
        </table>

        <p style="margin-top:15px;">
            <strong>Budget Code / Cost Centre: </strong><br>
            _________________________________________________
        </p>

        <p>
            <strong>Approval:   </strong><br>
            <strong>Supervisor Name & Signature: </strong> _____________________ &nbsp;&nbsp;
            <strong>Date</strong> _____________________ &nbsp;&nbsp;
            <strong>Finance Officer Name & Signature: </strong> _____________________ &nbsp;&nbsp;
            <strong>Date:</strong> __________
            <strong>Procurement Officer Name & Signature:  </strong> _____________________ &nbsp;&nbsp;
            <strong>Date:</strong> __________
        </p>

        
    </div>

    <p style="margin-top:20px;">
        <a href="/downloads/purchase-requisition.docx" download>
            Download Editable Version
        </a>
    </p>
</div>

</body>
</html>
