<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Transfer Form Template Kenya</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>

<body>

<a href="../index.html">Home</a>

<header class="header">
    <h1>Stock Transfer Form Template</h1>
    <p>Preview of a stock transfer form commonly used in Kenya.</p>
</header>
         </style>
</head>

<body>

<header class="header">
    <h1>Stock Transfer Form</h1>
    <p>Preview of a standard stock transfer form commonly used in Kenya.</p>
</header>

<div class="container">
    <div class="card">

        <p>
            <strong>From Branch / Warehouse:</strong> __________________________<br>
            <strong>To Branch / Warehouse:</strong> __________________________
        </p>

        <p>
            <strong>Transfer No.:</strong> __________ &nbsp;&nbsp;
            <strong>Date:</strong> __________
        </p>

        <p>
            <strong>Items To Transfer:</strong>
        </p>

        <table width="100%" cellpadding="6" border="1">
            <tr>
                <th>Item Code/Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Remarks</th>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>

        <p style="margin-top:15px;">
            <strong>Initiated By:</strong> _______________________ &nbsp;&nbsp;
            <strong>Date:</strong> __________
        </p>

        <p>
            <strong>Sent By (Signature):</strong> __________________ &nbsp;&nbsp;
            <strong>Date:</strong> __________
        </p>

        <p>
            <strong>Received By:</strong> _________________________ &nbsp;&nbsp;
            <strong>Date:</strong> __________
        </p>

        <p>
            <strong>Checked By:</strong> __________________________ &nbsp;&nbsp;
            <strong>Date:</strong> __________
        </p>

    </div>

    <p style="margin-top:20px;">

    <p style="margin-top:20px;">
        <a href="/downloads/stock-transfer.docx" download>
            Download Editable Version
        </a>
    </p>
</div>
</body>
</html>
